# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
      1. create VM:
name: cks-master
family: e2-medium (2vCPU, 4GB)
image: ubuntu24.04 LTS focal
disk: 50GB
geloud compute instances create
--machine-type=e2-medium \
--image=ubuntu-2404-noble-amd64-
--image-project=ubuntu-os-cloud
--boot-disk-size=50GB
# see available images:
gcloud compute images list --pro

